html, body {
  height: 100%;
}

.App {
  background: url('/src/images/background.jpg') no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  overflow: auto;
}

.details-container {
  height: 100vh;
  max-width: 1000px;
  margin: auto;
  font-size: 24px;
}

.content {
  padding: 1.5rem;
  color: white;
  background-color: rgba(51, 51, 51, 0.7);
}

.transparent {
  background-color: rgba(51, 51, 51, 0.7);
  border-radius: 20px;
}

.transparent-light {
  background-color: rgba(153, 255, 153, 0.7);
  padding: 1rem;
  border-radius: 20px;
}

.link {
  background-color: rgba(102, 255, 51, 0.7);
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  opacity: 0.5;
}

@media screen and (max-width: 900px) {
  .active-giveaways {
    width: 80%;
    margin: auto;
  }

  .details-container {
    height: 100%;
  }

  .details-container, .content, .full-img {
    width: 90%;
    margin: auto;
  }

  .content {
    font-size: 16px;
    word-wrap: break-word;
  }

  .App {
    overflow: scroll;
  }

  .full-img {
      object-fit: contain;
  }
}